/* Reset some default styling */
body, h1, h2, p, table {
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
    background-color: #FDF7E4;
  }
  
  /* Header */
  header {
    background-color: #E5DDC5;
    color: white;
    text-align: center;
    padding: 20px 0;
  }

  header h1{
    color: #333;
  }
  
  /* Container for profile content */
  .container {
    max-width: 900px;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  /* Profile header with image and basic info */
  .profile-header {
    text-align: center;
  }
  
  .profile-header img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 5px solid #BBAB8C;
  }
  
  .profile-header h1 {
    margin-top: 10px;
    font-size: 2em;
  }
  
  .profile-header p {
    font-size: 1.2em;
    color: #777;
  }
  
  /* Details section styling */
  .details {
    margin-top: 30px;
  }
  
  .details h2 {
    font-size: 1.6em;
    color: #333;
  }
  
  .details table {
    width: 100%;
    margin-top: 15px;
    border-collapse: collapse;
  }
  
  /* button styling */
  .btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #BBAB8C;
    color: #333;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1.1em;
    transition: background-color 0.3s;
    margin-top: 2%;
    font-weight: bold;
  }
  

  .btn:hover {
    background-color: #B0A695;
  }


  /* button end */
  
  .details table th, .details table td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  .details table th {
    background-color: #FFF0D1;
    color: #3B3030;
  }
  
  /* Contact Info styling */
  .contact-info a {
    text-decoration: none;
    color: #FFF0D1;
  }
  
  .contact-info a:hover {
    text-decoration: underline;
  }
  